body {
    background-color: white;
}

button {
    display: inline-block;
    font-size: 20pt;
    background-color: steelblue;
    margin: 2px;
    color: white;
    border-radius: 5px;
}

.imgDiv {
    position: relative;
    width: 225px;
    height: auto;
    margin: 30px;
    float: left;
}

.clickGif {
    height: 225px;
}

.rating {
    position: absolute;
    bottom: -25px;
    font-size: 20pt;
    text-align: center;
}

button:hover {
    background-color: darkblue;
}