
body {
    background-color: white;
}

button {
    display: inline-block;
    font-size: 20pt;
    background-color: steelblue;
    margin: 2px;
    color: white;
    border-radius: 5px;
}

#addButton {
    float: right;
    margin: 30px;
}

label {
    font-size: 20pt;
    color: steelblue;
}

#newAnimal {
    font-size: 20pt;
    color: steelblue;
    border: 1px solid steelblue;
    border-radius: 5px;
}

#submitButton {
    font-size: 20pt;
    color: white;
    background-color: steelblue;
    border-radius: 5px;
}

.imgDiv {
    position: relative;
    float: left;
}

.clickGif {
    margin: 30px;
    width: 250px;
    height: auto;
}

.rating {
    font-size: 20pt;
    text-align: center;
    color: steelblue;
}

button:hover {
    background-color: darkblue;
}

@media screen and (max-width: 500px){
    .clickGif {
        width: 325px;
        margin-left: 25px;
        margin-bottom: 20px;
    }

    .rating {
        margin-bottom: 10px;
        color: steelblue;
    }

    label {
        text-align: center;
    }

    #newAnimal {
        width: 90%;
        margin-left: 5%;
    }

    #submitButton {
        width: 90%;
        margin-top: 15px;
        margin-left: 5%;
    }
}
